@font-face {
    font-family: "Audiowide";
    src: url("../fonts/Audiowide-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open-Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Noto-SansMono";
    src: url("../fonts/NotoSansMono-VariableFont_wdth,wght.ttf");
    font-style: normal;
}

.cw__wallpaper {
    height: 240px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cw__img--overflow {
    background-image: url(../img/duo.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 768px){
    .cw__wallpaper{
        height: 140px;
    }
}

.cw__wallpaper > img {
    object-fit: cover;
}

.cw__background {
    width: 100%;
    background-color: #e4ebf1;
    padding: 1em;
    position: relative;
    min-height: 101vh;
}

.cw__search--box {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
}

.cw__search {
    height: 100%;
    width: 780px;
    top: -50%;
    border-radius: 25em !important;
    overflow: hidden;
}

.input-group-text {
    border-color: rgba(0, 0, 0, 0);
    height: 50px;
    background-color: #fff;
}
.form-control {
    border-color: rgba(255, 255, 255, 1) !important;
}
.form-control:focus {
    border-color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 0 0 0.25rem rgba(101, 253, 13, 0) !important;
}

.cw__grib {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center !important;
}

.cw__box--shadow {
    box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px rgba(22, 24, 29, 0.23);
}

.cw__card {
    max-width: 290px;
    width: 290px;
    height: 360px;
    background-color: #eff2f9;
    border-radius: 15px;
    position: relative;
    margin: 1em auto;
}

.cw__card--content {
    padding: 1em;
}
.cw__card--title {
    width: 100%;
    text-align: center;
}
.cw__card--title h2 {
    padding: 0;
    font-family: "Open-Sans";
    font-size: 1.5em;
    font-weight: bold;
}
.cw__card--description {
    position: absolute;
    top: 80px;
}
.cw__card--description > h3 {
    font-size: 1.3em;
    margin: 0;
}
.cw__card--description > small {
    font-size: 0.9em;
}
.cw__card--id{
    position: absolute;
    bottom: 1.2em;
    left: 1.2em;
    font-family: "Audiowide";
    font-size: 1.4em;
    padding: 5px;
    /* background-color: rgba(228, 235, 241, 0.2);
    backdrop-filter: blur(5px); */
    color:#fafbff;
    border-radius: 5px;
    text-shadow: 0px 0px 5px #232323;
}
.cw__card--image {
    position: absolute;
    overflow: hidden;
    width: 210px;
    height: 210px;
    border-radius: 15px;
    bottom: 1em;
}
.cw__card--image > img {
    position: absolute;
    width: 260px;
    height: 260px;
    right: calc(50% - 130px);
    bottom: calc(50% - 150px);
}
.cw__card--lateral {
    position: absolute;
    right: 1em;
    bottom: 4em;
}
.cw__card--lateral > p {
    font-family: "Audiowide";
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    letter-spacing: 4px;
}
.cw__card--lateral > p > i {
    transform: rotate(90deg);
    font-size: 1em;
    margin: 0;
    box-sizing: border-box;
}

.cw__card--btn {
    position: absolute;
    height: 40px;
    width: 40px;
    text-decoration: none;
    /* background-color: #eff2f9; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 1em;
    bottom: 1em;
    color: #6e7f8d;
    transition: box-shadow 0.3s ease;
}
.cw__card--btn:hover {
    background-color: #eff2f9;
    color: #454d53;
    box-shadow: inset -5px -5px 10px #fafbff,
        inset 5px 5px 10px rgba(22, 24, 29, 0.23);
}
